.mycontainer {
    position: relative;
}

.mycontainer video {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mycontainer img {
    position: absolute;
    left: 0px;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}