.news {
    display: flex;
    justify-content: center;
    background-color: black;
    flex-wrap: wrap;
    color: white;
    margin-top: 20px;
    transform: translate(0, 0);
}

.news_a {
    width: 300px;
    height: 250px;
    margin: 10px;
    background-color: gray;
    border-radius: 5px;
}

.news_a:hover {
    transform: translate(0, -10%);
}

.news_a_pic {
    width: 300px;
}

.news_a_pic img {
    width: 100%;
    height: 150px;
    border-radius: 5px 5px 0 0;
    /* object-fit: cover; */
}

.news_text {
    height: 100px;
}

.news p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 10px;
    padding: 5px;
}

.news h5 {
    padding: 5px;
    margin-bottom: -5px;
}

@media screen and (max-width: 1300px) {
    .news_a {
        width: 500px;
        height: 350px;
        margin: 10px;
    }

    .news_a_pic {
        width: 100%;
    }

    .news_a_pic img {
        width: 100%;
        height: 250px;
    }
}

@media screen and (max-width: 1060px) {
    .news_a {
        width: 400px;
        height: 300px;
        margin: 10px;
    }

    .news_a_pic {
        width: 100%;
    }

    .news_a_pic img {
        width: 100%;
        height: 200px;
    }
}

@media screen and (max-width: 860px) {
    .news_a {
        width: 300px;
        height: 250px;
        margin: 10px;
    }

    .news_a_pic {
        width: 100%;
    }

    .news_a_pic img {
        width: 100%;
        height: 150px;
    }
}

@media screen and (max-width: 660px) {
    .news_a {
        width: 250px;
        height: 180px;
        margin: 10px;
    }

    .news_a_pic {
        width: 100%;
    }

    .news_a_pic img {
        width: 100%;
        height: 120px;
    }

    .news p {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 5px;
    }

    .news h5 {
        font-size: 15px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

@media screen and (max-width: 560px) {
    .news_a {
        width: 200px;
        height: 170px;
        margin: 10px;
    }

    .news_a_pic {
        width: 100%;
    }

    .news_a_pic img {
        width: 100%;
        height: 100px;
    }

    .news p {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 5px;
    }

    .news h5 {
        font-size: 15px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

@media screen and (max-width:460px) {
    .news_a {
        width: 160px;
        height: 150px;
        margin: 10px;
    }

    .news_a_pic {
        width: 100%;
    }   

    .news_a_pic img {
        width: 100%;
        height: 90px;
    }

    .news p {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 5px;
    }

    .news h5 {
        font-size: 15px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

@media screen and (max-width:380px) {
    .news_a {
        width: 280px;
        height: 210px;
        margin: 10px;
    }

    .news_a_pic {
        width: 100%;
    }   

    .news_a_pic img {
        width: 100%;
        height: 150px;
    }

    .news p {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 5px;
    }

    .news h5 {
        font-size: 15px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

/* @media screen and (max-width: 768px) {
    .news_a {
        width: 160px;
        height: 160px;
    }

    .news_a_pic {
        width: 100%;
    }

    .news_a_pic img {
        width: 100%;
        height: 100px;
    }

    .news p {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 5px;
    }

    .news h5 {
        font-size: 15px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
} */

/* .news {
    border-radius: 5%;
    margin-top: 30px;
    height: 300px;
    color: white;
    background-color: gray;
}

.news:first-child {
    margin-left: 15px;
}

.news_pic {
    border-radius: 5% 5% 0 0;
    width: 100%;
    height: 150px;
}

.more_news {
    display: inline-flex;
}

a {
    text-decoration: none;
}

@media screen and (max-width:768px) {
    .news {
        height: 200px;
        margin: 5px;
    }
} */